<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label }}: <br> {{ field }}</p>
    {% endfor %}
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>

<!--
<form action="/login" method="post">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="Login">
</form>
Link to the <a href="/register">register page</a>
-->
